.report-container {
  background: url(./images/ajna-cosmic.jpg)no-repeat center center fixed;
}

.report-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100%
}

.report-title {
  text-align: center;
  font-family: 'Roboto Slab', serif;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  p {
    font-size: 1rem;
  }

}

.report-form {
  display: flex;
  flex-direction: column;
  height: 50vh;
  font-family: 'Ubuntu', sans-serif;


}
//
// #aliens {
//   width: 100 vw;
// }

.report-form input {
  background-color:  transparentize(#4B0082 , .7);
  height: 50vh;
  outline: none;
  border: none;
}

.report-click {
  background-color: transparent;
  margin-top: 4rem;
  cursor: pointer;
  border: none;
  outline: none;
  font-size:2rem;
  font-family: 'Roboto Slab', serif;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
}
