
<div class="entrance-container">
  <div class="entrance-page">
    <h1 class="entrance-title">Felicitations, Human.</h1>
    <div class="entrance-button" data-status="running" ui-sref="check-in" href="/check-in" ng-click="enterApp()" >
  <div class="pulse">
  </div>
</div>
    <!-- <div class="entrance-button" ui-sref="check-in" href="/check-in" ng-click="enterApp()" ></div> -->
    <h2 class="entrance-direct">Your personal amelioration has proven you worthy of intergalactic connection. Begin via the center orb. </h2>
  </div>
</div>
``
