.site-container {
  position: relative;

}

[ui-view].ng-enter, [ui-view].ng-leave {
  transition: all 2s ease-in-out;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}


[ui-view].ng-enter {
  .home & {
  opacity: 0;
  }

  .check-in & {
    opacity: 0;
    transform: translate(500px, 500px);
  }

  .encounters & {
    opacity: 0;
    transform: translate(500px, 0);
  }

.report & {
  opacity: 0;
  transform: scale(0, 0);
  }

}

[ui-view].ng-enter-active {
  .home & {
  opacity: 1;

  }

  .check-in & {
    opacity: 1;
    transform: translate(0,0);
  }

  .encounters & {
    opacity: 1;
    transform: translate(0,0);
  }

  .report & {
    opacity: 1;
    transform: scale(1, 1);
  }

}

[ui-view].ng-leave {
  .home & {
  opacity: 0;

  }

  .check-in & {
    opacity: 0;
    transform: translate(0, 0);

    }

  .encounters & {
    opacity: 0;
    transform: scale(1, 1);
    }

  .report & {
    opacity: 0;
    transform: translate(0,0);
  }


}

[ui-view].ng-leave-active {
  .home & {
  opacity: 0;
  }

.check-in & {
  opacity: 0;

}
.encounters & {
  opacity: 0;
  transform: scale(0,0);
}

  .report  & {
    opacity: 0;
  }


}
