
.check-in-container {
  background: url(./images/rose-cosmic.jpg)no-repeat center center fixed;
  width: 100vw;
  height: 100vh;
}

.check-in-page {
  display: flex;
  align-items: center;
  justify-content: space-around;;
  flex-direction: column;
  flex-wrap: no-wrap;
  height: 100vh;

}

.check-in-title {
  text-align: center;
  color: black;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  font-size: 1.5rem;
}

.check-in-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: 'Ubuntu', sans-serif;

}




input[type="text"], textarea {
  background: transparent;
  border: 0;
  outline: 0;
  border-bottom: 3px solid white;
  font-size: 1rem;
  height: 4rem;
  font-family: 'Ubuntu', sans-serif;
  background-color:  transparentize(#4B0082 , .7);
  color: white;
}

::placeholder {
  color: white;
  font-family: 'Ubuntu', sans-serif;

}

select {
  border: none;
  border-bottom: 3px solid white;
  width: 12rem;
  height: 4rem;
  background-color: transparent;
  text-align:left;
  font-size: 1rem;
  outline: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color:  transparentize(#4B0082 , .7);
  color: white;

}

.click-check-in {
  margin-top: 5rem;
  font-size: 2rem;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  font-family: 'Roboto Slab', serif;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
}
